/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*  GRID OF FOUR   ============================================================================= */


	
.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}
/*  GRID OF SIX   ============================================================================= */



.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_6_of_6 {
		width: 100%; 
	}
	.span_5_of_6 {
		width: 100%; 
	}
	.span_4_of_6 {
		width: 100%; 
	}
	.span_3_of_6 {
		width: 100%; 
	}
	.span_2_of_6 {
		width: 100%; 
	}
	.span_1_of_6 {
		width: 100%; 
	}
}
ul.activities, ol.activities {
  margin: 0px;
  padding: 0px; }

/*  SECTIONS  ============================================================================= */


.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}
#signedIn {
  float: right;
  display: block;
  margin: .5%; }
/* html5reset.css - 01/11/2011 */


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000; 
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration:  line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;   
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}
#toptitle {
    background-color: #47A347;
    height: 50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 200;
    display: none;
}

#toptitle img {
	height: 100%;
    float: left;
}

#headcontainer {
    z-index: -1;
}

img.screenshot {
    margin: 3%;
}

.details_item {
	height: 300px;
	width: 100%;
	position: relative;
}

.details_item.odd {
	background-color: gray;
}

.details_item .details_left, .details_item .details_right {
	float: left;
}

.details_item h4 {
	padding: 3%;
}

.details_item .narrow {
	width: 40%;
}

.details_item .wide {
	width: 60%;
}

.details_item h4.description {
	margin-bottom: 2%;
}

#radioButtons {
	text-align: left;
	margin-left:20%;
	display: inline;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	font-size: 80px;
	width: 80px;
	display: inline;
}

.circle {
	height:100px;
	width:100px;
	border-radius: 20px;
	background-color:red;
}

.negative {
	color: red;
	background-color:red;
	border-radius: 20px;
}

#signup {
    clear: both;
    width: 80%; /* 1000px / 1250px */
    font-size: 0.6125em; /* 13 / 16 */
    max-width: 92.3em; /* 1200px / 13 */
    margin: 0 auto;
    padding: 30px 0px 10px 0px;
    position: relative;
    color: #000;
}

#login, #signup {
    clear: both;
    width: 80%; /* 1000px / 1250px */
    font-size: 0.6125em; /* 13 / 16 */
    max-width: 92.3em; /* 1200px / 13 */
    margin: 0 auto;
    padding: 50px 0px 10px 0px;
    position: relative;
    color: #000;
}

.invalidLogin {
    background-color: #FF9999;
    border: 2px dotted red;
    top: 10%;
    clear: both;
    width: 55%; /* 1000px / 1250px */
    max-width: 92.3em; /* 1200px / 13 */
    margin: 0 auto;
    position: absolute;
    color: #000;
}

.fb-login-button.fb_iframe_widget {
    margin-top: 30px;
}

.right_align{
    text-align:right;
    }

.left_align{
    text-align:left;
    padding-left:3%;
}

.red {
    color: red;
}

.header {
    padding-top:1%;
    width:100%;
    height: 30px;
    background: #222;
    text-align: right;
    color: #ccc;
}

input[type=text], input[type=email], input[type=password] {
    border: 5px solid white; 
    width: 50%;
    font-size: 2em;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 8px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

/*Buttons*/
.mybutton {
    
/*    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
*//*    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
*/    margin: 0 auto;
/*    box-shadow: 0px 10px 14px -7px #3e7327;
*/    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    
    background-color:#77b55a;
    
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    
    border:1px solid #4b8f29;
    
    display:inline-block;
    color:#ffffff;
    font-family: Courier New;
    font-size:18px;
    font-weight:bold;
    padding:4px 9px;
    text-decoration:none;
    
    text-shadow:0px 1px 0px #5b8a3c;
    
}
.mybutton:hover {
    
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    
    background-color:#72b352;
}
.mybutton:active {
    position:relative;
    top:1px;
}
a.mybutton:visited{
    color:black;
}

#rating_rating {
    height: 40px;
    width: 45%;
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(left, #E31507 0%, #086901 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(left, #E31507 0%, #086901 100%);

/* Opera */ 
background-image: -o-linear-gradient(left, #E31507 0%, #086901 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #E31507), color-stop(1, #086901));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(left, #E31507 0%, #086901 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to right, #E31507 0%, #086901 100%);
}



#submit {
    width: 50%;
}

/* Inner content */
.main_content {
    background-color: white;
}

ul.top_nav li {
    float:right;
    list-style-type: none;
    padding-right: 2%;
    height: 22px;
}

ul.top_nav li a {
    height: 22px;
}

.left_nav {
    background-color: white;
}

.left_nav_item h2 {
    background-color: #92c978;
    /*border: 2px dotted black;*/
    margin-bottom: 0px;
    padding: 40px;
    color: white;
    text-align: right;
}

.left_nav_item {
    width: 70%;
    float:right;
    padding-right: 5%;
}

.left_nav_item h2:hover {
    background-color: #4aa61f;
}

.get_points {
    position: relative;
    padding: 5%;
    text-align: left;
    background-color:white;
    width: 100%;
}

.get_points input[type=text] {
    color: gray;
    font-size: 16px;
    font-style: italic;
    padding-right: 0px;
}

.my_activities {
    position: relative;
    padding: 15px;
    text-align: left;
    background-color:white;
    width: 100%;
}

.rate_activities {
    background: #2B353E;
    position: relative;
    padding: 15px;
    text-align: left;
    background-color:white;
    width: 100%;
}

.right_content {
    background-color: white;
    text-align: left;
}

.activity_content {
    float:left;
    width: 50%;
}

.activity_points {
    float:right;
    font-style: italic;
}

.pending {
    font-style: italic;
}

.activity_to_rate {
    padding: 10px;
    color:black;
    display: block;
    padding-bottom: 1%;
    background-color: lightgray;
    margin: 20px;
    width: 60%;
    overflow: auto;
}


.activity_item {
    
    padding: 10px;
    color:black;
    display: block;
    padding-bottom: 1%;
    background-color: lightgray;
    margin-left: 20px;
    width: 80%;
    overflow: auto;
}

li.activity_item {
    list-style: none;
}

.activity .content {
    width: 30%;
}

.empty {
    padding: 10px;
    margin: 20px;
    border: 1px dotted gray;
    width: 80%;
    background-color: rosybrown;

}

.timestamp {
    color: gray;
    font-size: 12px;
}

.delete {
    padding-left: 10px;
    font-size: 80%;
    color: #C0C0C0;
    float: right;
}

.bold {
    font-weight: bolder;
    color:#163109;
}


.alert-success {
    background-color: #73fb76;
}
































form#new_rating {
  position: relative; }

.rating_form {
  width: 60%;
  margin: 20px;
  padding: 10px; }

.rateButton {
  padding: 0px;
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(center top, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
  background-color: #f24537;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-left-radius: 15px;
  text-indent: 0px;
  border: 1px solid #d02718;
  display: inline-block;
  color: #ffffff;
  /*font-family:Arial; */
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 131px;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0px #810e05; }

.rateButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
  background: -moz-linear-gradient(center top, #c62d1f 5%, #f24537 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
  background-color: #c62d1f; }

.rateButton:active {
  position: relative;
  top: 1px; }
body {
	background: #2B353E;
	margin: 0;
	padding: 0;
}

#slider_container {
    position: relative;
}

#slider_container .slider-label {
    position: absolute;
}

#slider_container .slider-label.left {
    float: left;
}

#slider_container .slider-label.right {
    right: 0;
}

#slider {
	width: 70%;
	height: 25px;
	position: relative;
	margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 15%;
	background: #10171D;
	
	-webkit-border-radius: 40;
	-moz-border-radius: 40;
	border-radius: 40;
	
	-webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 1px 0 rgba(255, 255, 255, 0.13);
	-moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 1px 0 rgba(255, 255, 255, 0.13);
	box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.9), 0 1px 1px 0 rgba(255, 255, 255, 0.13);
}

#slider .bar {
	width: 96%;
	height: 15px;
	background: #333;
	position: relative;
	top: 5px;
	left: 6px;	
	
	background: #1d2e38;
	background: -moz-linear-gradient(left, #750000 0%, #2b4254 50%, #2b4254 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#750000), color-stop(50%,#2b4254), color-stop(100%,#2b4254));
	background: -webkit-linear-gradient(left, #750000 0%,#2b4254 50%, #135e00 100%);
	background: -o-linear-gradient(left, #750000 0%,#2b4254 50%, #135e00 100%);
	background: -ms-linear-gradient(left, #750000 0%,#2b4254 50%,#135e00 100%);
	background: linear-gradient(left, #750000 0%,#2b4254 50%,#135e00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d2e38', endColorstr='#2b4254',GradientType=1 );	
	
	-webkit-border-radius: 40;
	-moz-border-radius: 40;
	border-radius: 40;
}

#slider .highlight {
	height: 10;
	position: absolute;
	width: 95%;
	top: 7px;
	left: 8px;
		
	-webkit-border-radius: 40;
	-moz-border-radius: 40;
	border-radius: 40;
	
	background: rgba(255, 255, 255, 0.25);
}

input[type="range"] {
    margin: 0;
    border: none;
    padding: 0;
    box-shadow: none;
	-webkit-appearance: none;
	background-color: black;
	height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0;
	z-index: 1;
	width: 20;
	height: 35px;
	cursor: pointer;
	-webkit-box-shadow: 0 6px 5px 0 rgba(0,0,0,0.6);
	-moz-box-shadow: 0 6px 5px 0 rgba(0,0,0,0.6);
	box-shadow: 0 6px 5px 0 rgba(0,0,0,0.6);
	-webkit-border-radius: 40;
	-moz-border-radius: 40;
	border-radius: 12px;
  background-color: white;
  border: 2px black solid
}

input[type="range"]:hover ~ #rangevalue,input[type="range"]:active ~ #rangevalue {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	top: -75px;
}

/* Tool Tip */
#rangevalue {
	color: white;
	font-size: 15px;
	text-align: center;
	font-family:  Arial, sans-serif;
	display: block;
	color: #fff;
	margin: 10 0;
	position: relative;
	left: 44.5%;
	padding: 6px 12px;
	border: 1px solid black;

	-webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px 0 rgba(0,0,0,0.4);
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.2), 0 2px 4px 0 rgba(0,0,0,0.4);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222931), color-stop(100%,#181D21));

	-webkit-border-radius: 20;
	-moz-border-radius: 20;
	border-radius: 20;
	width: 18px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	top: -95px;
}
/* RESPONSIVE GRID SYSTEM =============================================================================  */

/* BASIC PAGE SETUP ============================================================================= */


body { 
margin : 0 auto;
padding : 0;
font : 100%/1.4 'Oswald', serif, lucida sans unicode, 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 	
color : #000; 
text-align: center;
background: #fff url(/images/bodyback.png) left top;
}


button, 
input, 
select, 
textarea { 
font-family : 'Oswald', serif, lucida sans unicode, 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 
color : #333; }

/*  HEADINGS  ============================================================================= */

h1, h2, h3, h4, h5, h6 {
font-family:  'Oswald', serif, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
font-weight : normal;
margin-top: 0;
letter-spacing: -1px;
}

h1 { 
font-family: 'Fascinate', cursive, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
color: #000;
margin-bottom : 0.2em;
font-size : 6em; /* 96 / 16 */
line-height : 1.4;
}


h2 { 
color: #222;
margin-bottom : .5em;
margin-top : .5em;
font-size : 2.75em; /* 40 / 16 */
line-height : 1.2;
}

h3 { 
	padding:10;
color: #333;
margin-bottom : 0.3em;
letter-spacing: -1px;
font-size : 1.75em; /* 28 / 16 */
line-height : 1.3; }


h4 { 
color: #444;
margin-bottom : 0.5em;
font-size : 1.5em; /* 24 / 16  */
line-height : 1.25; }

	footer h4 { 
		color: #ccc;
	}

h5 { 
color: #555;
margin-bottom : 1.25em;
font-size : 1em; /* 20 / 16 */ }

h6 { 
color: #666;
font-size : 1em; /* 16 / 16  */ }

/*  TYPOGRAPHY  ============================================================================= */

p, ol, ul, dl, address { 
margin-bottom : 1.5em; 
font-size : 1em; /* 16 / 16 = 1 */ }

p {
hyphens : auto;  }


p.introtext {
font-family:  'Oswald', serif, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
font-size : 2.5em; /* 40 / 16 */
color: #333;
line-height: 1.4em;
letter-spacing: -1px;
margin-bottom: 0.5em;
}


p.handwritten {
font-family:  HandSean, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 
font-size: 1.375em; /* 24 / 16 */
line-height: 1.8em;
margin-bottom: 0.3em;
color: #666;
}

p.center {
text-align: center;
}


.and {
font-family: GoudyBookletter1911Regular, Georgia, Times New Roman, sans-serif;
font-size: 1.5em; /* 24 / 16 */
}

.heart {
font-family: Pictos;
font-size: 1.5em; /* 24 / 16 */
}

ul, 
ol { 
margin : 0 0 1.5em 0; 
padding : 0 0 0 24px; }

li ul, 
li ol { 
margin : 0;
font-size : 1em; /* 16 / 16 = 1 */ }

dl, 
dd { 
margin-bottom : 1.5em; }

dt { 
font-weight : normal; }

b, strong { 
font-weight : bold; }

hr { 
display : block; 
margin : 1em 0; 
padding : 0;
height : 1px; 
border : 0; 
border-top : 1px solid #ccc;
}

small { 
font-size : 1em; /* 16 / 16 = 1 */ }

sub, sup { 
font-size : 75%; 
line-height : 0; 
position : relative; 
vertical-align : baseline; }

sup { 
top : -.5em; }

sub { 
bottom : -.25em; }

.subtext {
	color: #666;
	}

/* LINKS =============================================================================  */

a { 
color : black;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
text-decoration: none;
}

a:visited { 
color : black; }

a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

a:hover, 
a:active { 
outline : 0;
color : #dd2233;
}

.header a {
	padding-right: 3%;
}

footer a, .header a { 
color : #ffffff;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}

footer a:visited, .header a:visited { 
color : #fff; }

footer a:focus, .header a:focus { 
outline : thin dotted; 
color : rgb(0,0,0); }

footer a:hover, 
footer a:active, .header a:hover, 
footer a:active { 
outline : 0;
color : #fff;
}


/* IMAGES ============================================================================= */

img {
border : 0;
max-width: 100%;}

img.floatleft { float: left; margin: 0 10 0 0; }
img.floatright { float: right; margin: 0 0 0 10; }


/* TABLES ============================================================================= */

table { 
border-collapse : collapse;
border-spacing : 0;
margin-bottom : 1.4em; 
width : 100%; }

th, td, caption { 
padding : .25em 10 .25em 5px; }

tfoot { 
font-style : italic; }

caption { 
background-color : transparent; }

/* FORMS ============================================================================= */

form { 
margin : 0; }

fieldset { 
margin-bottom : 1.5em; 
padding : 0; 
border-width : 0; }

legend { 
*margin-left : -7px; 
padding : 0; 
border-width : 0; }

label{
font-weight : normal;
cursor : pointer;
display:block;
position:relative;
top:0;
left:0;
}

	label.inline {
        font-size: 1.75em;
	    display:inline;
	    margin-left: 3px;
	}
	
	label span{
	color:#666;
	font-size:0.9em;
	}
	
	label span.right{
	position:absolute;
	bottom:0;
	right:1em;
	text-align:right;
	}
	
	label.disabled{
	color:#ccc;
	}


button, 
search,
input, 
select, 
textarea { 
font-size : 100%; 
margin : 0; 
vertical-align : baseline; 
*vertical-align : middle; }

button, input { 
line-height : normal; 
*overflow : visible; }

/*button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
padding: 0.5em 1em;
margin: 0 0 1em 0;
cursor : pointer; 
text-shadow:0 1px 0 #fff;
}*/

input[type="checkbox"], input[type="radio"] { 
    box-sizing : border-box; 
    }

    input[type="checkbox"].inline {
        display: inline;
        }

input[type="search"] { 
	box-sizing : content-box;
}



button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0;  }

input{
display:block;
margin:0 0 20 0;
border:1px solid #ccc;
font-size:1em;
padding:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
background:#fff;
-moz-box-shadow:inset 0 0 6px #ccc;
-webkit-box-shadow:inset 0 1px 6px #ccc;
box-shadow:inset 0 1px 6px #ccc;
}

	input::-webkit-input-placeholder,
	input:-moz-placeholder,
	.placeholder{
	color:#bbb;
	}
	
	input::-moz-focus-inner {border:0;}

	input[disabled="disabled"], input.disabled{
	color:#999;
	background:#f5f5f5;
	-moz-box-shadow:inset 0 0 2px #ddd;
	-webkit-box-shadow:inset 0 1px 2px #ddd;
	box-shadow:inset 0 1px 2px #ddd;
	}
	
textarea{
width:97%;
height:200;
margin:0 0 20 0;
border:1px solid #ccc;
padding:5px;
font-family:inherit;
font-size:0.9em;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
-moz-box-shadow:inset 0 0 6px #ccc;
-webkit-box-shadow:inset 0 1px 6px #ccc;
box-shadow:inset 0 1px 6px #ccc;
overflow : auto; 
vertical-align : top;
}

/* Colors for form validity */
input:valid, 
textarea:valid   {  
/* Styles */ }

input:invalid, 
textarea:invalid {
-webkit-box-shadow : 0 0 2px #f00; 
-moz-box-shadow : 0 0 2px #f00;
box-shadow : 0 0 2px #f00; }

.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {
background-color : #ccc; }

/*  MAIN LAYOUT	============================================================================= */

#skiptomain { display: none; }

#wrapper {
	width: 100%;
	position: relative;
	text-align: left;
}

	#headcontainer {
		width: 100%;
		background: url(/images/headerback.png) no-repeat center top;
	}

		header {
			clear: both;
			width: 80%; /* 1000 / 1250 */
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 92.3em; /* 1200 / 13 */
			margin: 0 auto;
			padding: 130px 0 10px 0;
			position: relative;
			color: #000;
			text-align: center;
		}
 
 		#right_side_header{
 			clear:both;
 			width: 100%; /* 1000 / 1250 */
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 92.3em; /* 1200 / 13 */
			margin: 0 auto;
			position: relative;
			color: #000;
			text-align: center;
 		}
   
		

	#maincontentcontainer {
		width: 100%;
	}

		.standardcontainer {
			
		}
		
		.darkcontainer {
			background: rgba(102, 102, 102, 0.05);
		}

		.lightcontainer {
			background: rgba(255, 255, 255, 0.25);
		}
		
			#maincontent{
				clear: both;
				width: 80%; /* 1000 / 1250 */
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 92.3em; /* 1200 / 13 */
				margin: 0 auto;
				padding: 1em 0;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}
		
			.maincontent{
				clear: both;
				width: 80%; /* 1000 / 1250 */
				font-size: 0.8125em; /* 13 / 16 */
				max-width: 92.3em; /* 1200 / 13 */
				margin: 0 auto;
				padding: 1em 0;
				color: #333;
				line-height: 1.5em;
				position: relative;
			}

	#debug {
		position: fixed;
		color: white;
	}

	#footercontainer {
		bottom: -10;
		width: 100%;	
		border-top: 1px solid #000;
		background: #222 url(/images/footerback.png) left top;
		/*box-shadow: ;*/
	}

	#minifootercontainer {
        z-index: 1;
		color: white;
		position: fixed;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #000;
		background: #222 url(/images/footerback.png) left top;
		height: 40;
	}
	
		footer {
			clear: both;
			width: 80%; /* 1000 / 1250 */
			font-size: 0.8125em; /* 13 / 16 */
			max-width: 92.3em; /* 1200 / 13 */
			margin: 0 auto;
			padding: 20 0 10 0;
			color: #999;
		}

		footer strong {
			font-size: 1.077em; /* 14 / 13 */
			color: #aaa;
		}


		footer a:link, footer a:visited { color: #999; text-decoration: underline; }
		footer a:hover { color: #fff; text-decoration: underline; }

		ul.pagefooterlist, ul.pagefooterlistimages {
			display: block;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		ul.pagefooterlist li, ul.pagefooterlistimages li {
			clear: left;
			margin: 0;
			padding: 0 0 3px 0;
			display: block;
			line-height: 1.5em;
			font-weight: normal;
			background: none;

		}

		ul.pagefooterlistimages li {
			height: 34px;
		}


		ul.pagefooterlistimages li img {
			padding: 5px 5px 5px 0;
			vertical-align: middle;
			opacity: 0.75;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
			filter: alpha( opacity  = 75);
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

		ul.pagefooterlistimages li a
		{
			text-decoration: none;
		}

		ul.pagefooterlistimages li a:hover img {
			opacity: 1.0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha( opacity  = 100);
		}

			#smallprint {
				margin-top: 20;
				line-height: 1.4em;
				text-align: center;
				color: #999;
				font-size: 0.923em; /* 12 / 13 */
			}

			#smallprint p{
				vertical-align: middle;
			}

			#smallprint .twitter-follow-button{
				margin-left: 1em;
				vertical-align: middle;
			}

			#smallprint img {
				margin: 0 10 15px 0;
				vertical-align: middle;
				opacity: 0.5;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
				filter: alpha( opacity  = 50);
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}


			#smallprint a:hover img {
				opacity: 1.0;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha( opacity  = 100);
			}

			#smallprint a:link, #smallprint a:visited { color: #999; text-decoration: none; }
			#smallprint a:hover { color: #999; text-decoration: underline; }


/*  SECTIONS  ============================================================================= */

.section {
	clear: both;
	padding: 0;
	margin: 0;
}

	
/*  CODE  ============================================================================= */

pre.code {
	padding: 0;
	margin: 0;
	font-family: monospace;
	white-space: pre-wrap;
	font-size: 1.1em;
}

strong.code {
	font-weight: normal;
	font-family: monospace;
	font-size: 1.2em;
}


/*  EXAMPLE  ============================================================================= */

#example .col {
	background: #ccc;
	background: rgba(204, 204, 204, 0.85);

}

/*  NOTES  ============================================================================= */


.note {
	position:relative;
	padding:1em 1.5em;
	margin: 0 0 1em 0;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	overflow:hidden;
}

.note:before {
	content:"";
	position:absolute;
	top:0;
	right:0;
	border-width:0 16px 16px 0;
	border-style:solid;
	border-color:transparent transparent #cccccc #cccccc;
	background:#cccccc;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
	display:block; width:0; /* Firefox 3.0 damage limitation */
}

.note.rounded {
	-webkit-border-radius:5px 0 5px 5px;
	-moz-border-radius:5px 0 5px 5px;
	border-radius:5px 0 5px 5px;
}

.note.rounded:before {
	border-width:8px;
	border-color:#ff #ff transparent transparent;
	background: url(/images/bodyback.png);
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}

/*  SCREENS  ============================================================================= */

.siteimage {
	max-width: 90%;
	padding: 5%;
	margin: 0 0 1em 0;
	background: transparent url(/images/stripe-bg.png);
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.siteimage:hover {
	background: #bbb url(/images/stripe-bg.png);
	position: relative;
	top: -2px;
	
}

/*  COLUMNS  ============================================================================= */

.twocolumns{
	-moz-column-count: 2;
	-moz-column-gap: 2em;
	-webkit-column-count: 2;
	-webkit-column-gap: 2em;
	column-count: 2;
	column-gap: 2em;
  }

/*  BUTTONS  ============================================================================= */


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	padding: .5em 1em;
	margin: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #cc1122 url(/images/glass.png) repeat-x 0 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-family:  LeagueGothicRegular, 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif;
	font-size : 1.5em; /* 24 / 16 */
				
}
.button:hover {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	text-decoration: none;
}
.button:active {
	background: #dd2233 url(/images/glass.png) repeat-x 0 50%;
	color: #fff;
	position: relative;
	top: 1px;
}
.button:visited { 
	color : #fff;
}



/*  GLOBAL OBJECTS ============================================================================= */

.breaker { clear: both; }

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* VENDOR-SPECIFIC ============================================================================= */

html { 
-webkit-overflow-scrolling : touch; 
-webkit-tap-highlight-color : rgb(52,158,219); 
-webkit-text-size-adjust : 100%; 
-ms-text-size-adjust : 100%; }

.clearfix { 
zoom : 1; }

::-webkit-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::-moz-selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

::selection { 
background : rgb(23,119,175); 
color : rgb(250,250,250); 
text-shadow : none; }

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
-webkit-appearance : button; }

::-webkit-input-placeholder {
font-size : .875em; 
line-height : 1.4; }

input:-moz-placeholder { 
font-size : .875em; 
line-height : 1.4; }

.ie7 img,
.iem7 img { 
-ms-interpolation-mode : bicubic; }

input[type="checkbox"], 
input[type="radio"] { 
box-sizing : border-box; }

input[type="search"] { 
-webkit-box-sizing : content-box;
-moz-box-sizing : content-box; }

button::-moz-focus-inner, 
input::-moz-focus-inner { 
padding : 0;
border : 0; }

p {
/* http://www.w3.org/TR/css3-text/#hyphenation */
-webkit-hyphens : auto;
-webkit-hyphenate-character : "\2010";
-webkit-hyphenate-limit-after : 1;
-webkit-hyphenate-limit-before : 3;
-moz-hyphens : auto; }
